:root {
    --color-red-400: oklch(70.4% .191 22.216);
    --color-red-500: oklch(63.7% .237 25.331);
    --color-amber-400: oklch(82.8% .189 84.429);
    --color-amber-500: oklch(76.9% .188 70.08);
    --color-amber-600: oklch(66.6% .179 58.318);
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-600: oklch(68.1% .162 75.834);
    --color-yellow-700: oklch(55.4% .135 66.442);
    --color-green-50: oklch(98.2% .018 155.826);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-200: oklch(92.5% .084 155.995);
    --color-green-600: oklch(62.7% .194 149.214);
    --color-green-700: oklch(52.7% .154 150.069);
    --color-indigo-100: oklch(93% .034 272.788);
    --color-indigo-300: oklch(78.5% .115 274.713);
    --color-indigo-500: oklch(58.5% .233 277.117);
    --color-indigo-600: oklch(51.1% .262 276.966);
    --color-indigo-700: oklch(45.7% .24 277.023);
    --color-violet-50: oklch(96.9% .016 293.756);
    --color-violet-100: oklch(94.3% .029 294.588);
    --color-violet-200: oklch(89.4% .057 293.283);
    --color-violet-300: oklch(81.1% .111 293.571);
    --color-violet-400: oklch(70.2% .183 293.541);
    --color-violet-500: oklch(60.6% .25 292.717);
    --color-violet-600: oklch(54.1% .281 293.009);
    --color-violet-700: oklch(49.1% .27 292.581);
    --color-violet-900: oklch(38% .189 293.745);
    --color-purple-50: oklch(97.7% .014 308.299);
    --color-purple-100: oklch(94.6% .033 307.174);
    --color-purple-200: oklch(90.2% .063 306.703);
    --color-purple-300: oklch(82.7% .119 306.383);
    --color-purple-500: oklch(62.7% .265 303.9);
    --color-purple-600: oklch(55.8% .288 302.321);
    --color-purple-700: oklch(49.6% .265 301.924);
    --color-purple-900: oklch(38.1% .176 304.987);
    --color-fuchsia-300: oklch(83.3% .145 321.434);
    --color-fuchsia-400: oklch(74% .238 322.16);
    --color-fuchsia-500: oklch(66.7% .295 322.15);
    --color-pink-600: oklch(59.2% .249 .584);
    --color-slate-200: oklch(92.9% .013 255.508);
    --color-slate-700: oklch(37.2% .044 257.287);
    --color-slate-800: oklch(27.9% .041 260.031);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
}

html, 
body {
    box-sizing: border-box;
    font-family: 'EXO', sans-serif;
}

.btn-custom {
    background-image: linear-gradient(var(--color-purple-600));
    color: white;
}

.btn-custom:hover {
    background-image: linear-gradient(var(--color-purple-700));
    color: white;
}

.btn-custom-light {
    color: var(--color-violet-600);
    background-color: var(--color-violet-100);
}

.btn-custom-light:hover {
    color: var(--color-violet-600);
    background-color: var(--color-violet-200);
}

.bg-light-violet {
    background-color: var(--color-violet-50) !important;
}

.bg-solid-violet {
    background-image: linear-gradient(var(--color-violet-900),var(--color-violet-900));
}

.bg-violet {
    background-color: var(--color-violet-100) !important;
}

.text-violet {
    color: var(--color-violet-600) !important;
}

.border-violet {
    border-color: var(--color-violet-600) !important;
}

.btn-violet {
    background-color: var(--color-violet-600);
    color: white;
}

.bg-green {
    background-color: var(--color-green-100) !important;
}

.text-green {
    color: var(--color-green-600) !important;
}

.border-green {
    border-color: var(--color-green-600) !important;
}

.btn-green {
    background-color: var(--color-green-600);
    color: white;
}

.bg-purple {
    background-color: var(--color-purple-100) !important;
}

.text-purple {
    color: var(--color-purple-600) !important;
}

.border-purple {
    border-color: var(--color-purple-600) !important;
}

.btn-purple {
    background-color: var(--color-purple-600);
    color: white;
}

.bg-yellow {
    background-color: var(--color-yellow-100) !important;
}

.text-yellow {
    color: var(--color-yellow-600) !important;
}

.border-yellow {
    border-color: var(--color-yellow-600) !important;
}

.btn-yellow {
    background-color: var(--color-yellow-600);
    color: white;
}

.bg-indigo {
    background-color: var(--color-indigo-100) !important;
}

.text-indigo {
    color: var(--color-indigo-600) !important;
}

.border-indigo {
    border-color: var(--color-indigo-600) !important;
}

.btn-indigo {
    background-color: var(--color-indigo-600);
    color: white;
}

.bg-light-gray-custom {
    background-color: var(--color-gray-50);
}

.fs-custom-sm {
    font-size: 0.8rem;
}


.text-color-custom {
    color: var(--color-violet-700)
}

.h-color-custom {
    color: #0000;
    background-image: linear-gradient(90deg,var(--color-violet-600),var(--color-amber-500));
    background-clip: text;
}

.custom-title {
    position: relative;
}

.custom-title-gold {
     position: relative;
}

.custom-title::after {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(90deg, var(--color-violet-700), rgba(255, 255, 255, 0));
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: calc(100% + 0.5rem);
}

.custom-title-gold::after {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(90deg, var(--color-amber-500), rgba(255, 255, 255, 0));
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: calc(100% + 0.5rem);
}

.custom-title::before {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(270deg, var(--color-violet-700), rgba(255, 255, 255, 0));
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: calc(100% + 0.5rem);
}

.custom-title-gold::before {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(270deg, var(--color-amber-500), rgba(255, 255, 255, 0));
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: calc(100% + 0.5rem);
}

/* ! START HOME */
#home {
    background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(/assets/images/hero-bg-img.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    font-size: 3rem;
}

nav .property img {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    align-self: center;
}

nav .property {
    font-size: 0.7rem;
}

nav .property h3 {
    font-size: 0.8rem;
}

nav .property:hover {
    cursor: pointer;
    background-color: var(--color-gray-200) !important;
    transition-duration: 0.5s;
}

nav .property-type:hover span {
    cursor: pointer;
    color: var(--color-purple-700);
}

.pop-loaction-1 {
    background-image: linear-gradient(to right, #4d179acc, #59168bcc),url(/assets/images/new-york.jpeg);
    background-position: center;
    background-size: cover;
}

.pop-loaction-2 {
    background-image: linear-gradient(to right, #4d179acc, #59168bcc),url(/assets/images/los-angeles.jpeg);
    background-position: center;
    background-size: cover;
}

.pop-loaction-3 {
    background-image: linear-gradient(to right, #4d179acc, #59168bcc),url(/assets/images/miami.jpeg);
    background-position: center;
    background-size: cover;
}

.properties-dropdown {
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
}

#home form {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .properties-dropdown {
        width: 70%;
    }

    #home form {
        width: 60%;
    }
}

.icon-purple {
    box-sizing: content-box;
    background-color: var(--color-purple-100);
    color: var(--color-purple-700);
}

.icon-green {
    box-sizing: content-box;
    background-color: var(--color-green-50);
    color: var(--color-green-700);
}

.icon-violet {
    box-sizing: content-box;
    background-color: var(--color-violet-100);
    color: var(--color-violet-700);
}

.resource-card:hover {
    cursor: pointer;
}
/* ! END HOME */

/* ! START PROPERTIES */
.photos-tag {
    color: white;
    background-color: color-mix(in oklab,var(--color-black)70%,transparent);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.tag {
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.purple-tag {
    background-color: var(--color-violet-600);
}


.green-tag {
    background-color: var(--color-green-600);
}


.heart-tag {
    background-color: var(--color-gray-100);
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.3rem;
}

.heart-tag:hover i{
    cursor: pointer;
    color: var(--color-red-500) !important;
}

.card {
    max-height: 32rem;
}

.card:hover .property-img {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.property-img:hover {
    cursor: pointer;
}

.strick-through {
    text-decoration: line-through;
}
/* ! END PROPERTIES */

/* ! START SERVICES */

.nav-link {
    --bs-nav-link-color: var(--color-gray-600);
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    --bs-nav-tabs-border-width: 2px;
}

.nav-link:hover {
    --bs-nav-tabs-link-hover-border-color: var(--color-violet-200);
    --bs-nav-link-hover-color: var(--color-violet-600);
}

.active {
    --bs-nav-tabs-link-active-bg: var(--color-violet-100);
    --bs-nav-tabs-link-active-color: var(--color-violet-600);
    --bs-nav-tabs-link-active-border-color: var(--color-violet-600);
}

.service-card-tag {
    bottom: -1rem;
    left: -1rem;
}

.service-card-tag-right {
    bottom: -1rem;
    right: -1rem;
}
/* ! END SERVICES */

/* ! START TESTMONIALS */
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
/* ! END TESTMONIALS */